.i {
    display: inline-block;
}

// .i-s_youtube,
// .i-s_facebook,
// .i-s_linkin,
// .i-s_twitter,
// .i-s_video,
// .i-s_facebook_w,
// .i-s_linkin_w,
// .i-s_twitter_w,
// .i-s_video_w {
//     width: 38px;
//     height: 38px;
// }
// .i-s_youtube {
//     background-image: url("/assets/frontend/images/ico/social_youtube.png");
// }
// .i-s_facebook {
//     background-image: url("/assets/frontend/images/ico/social_facebook.png");
// }
// .i-s_linkin {
//     background-image: url("/assets/frontend/images/ico/social_linkin.png");
// }
// .i-s_twitter {
//     background-image: url("/assets/frontend/images/ico/social_twitter.png");
// }
// .i-s_video {
//     background-image: url("/assets/frontend/images/ico/social_video.png");
// }
// .i-s_facebook_w {
//     background-image: url("/assets/frontend/images/ico/social_facebook_w.png");
// }
// .i-s_linkin_w {
//     background-image: url("/assets/frontend/images/ico/social_linkin_w.png");
// }
// .i-s_twitter_w {
//     background-image: url("/assets/frontend/images/ico/social_twitter_w.png");
// }
// .i-s_video_w {
//     background-image: url("/assets/frontend/images/ico/social_video_w.png");
// }
.icon-ro,
.icon-ru,
.icon-gb {
    width: 16px!important;
    height: 11px!important;
}

.icon-ro {
    width: 16px;
    height: 11px;
    background-image: url("/assets/images/ico/flag-ro.png");
}

.i-card-visa {
    width: 73px;
    height: 22px;
    background-image: url("/assets/images/card-visa.png");
}

.i-card-paypal {
    width: 80px;
    height: 21px;
    background-image: url("/assets/images/card-paypal.png");
}

.i-card-qiwi {
    width: 65px;
    height: 30px;
    background-image: url("/assets/images/card-qiwi.png");
}

.i-card-bank {
    width: 31px;
    height: 32px;
    background-image: url("/assets/images/card-bank.png");
}

.icon-ru {
    width: 16px;
    height: 11px;
    background-image: url("/assets/images/ico/flag-ru.png");
}

.icon-gb {
    width: 16px;
    height: 11px;
    background-image: url("/assets/images/ico/flag-gb.png");
}
