
.icon-dropdown-arrow:before { content: '\e800'; } /* '' */
.icon-double-arrows:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-favorite:before { content: '\e805'; } /* '' */
.icon-google-plus:before { content: '\e806'; } /* '' */
.icon-grid-cube:before { content: '\e807'; } /* '' */
.icon-grid-line:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-la-down:before { content: '\e80a'; } /* '' */
.icon-la-left:before { content: '\e80b'; } /* '' */
.icon-la-right:before { content: '\e80c'; } /* '' */
.icon-la-up:before { content: '\e80d'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-linkedin:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-more:before { content: '\e811'; } /* '' */
.icon-news:before { content: '\e812'; } /* '' */
.icon-odnoklassniki:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-pin:before { content: '\e815'; } /* '' */
.icon-play:before { content: '\e816'; } /* '' */
.icon-quote-first:before { content: '\e817'; } /* '' */
.icon-quote-second:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-send:before { content: '\e81a'; } /* '' */
.icon-skype:before { content: '\e81b'; } /* '' */
.icon-star:before { content: '\e81c'; } /* '' */
.icon-trash:before { content: '\e81d'; } /* '' */
.icon-twitter:before { content: '\e81e'; } /* '' */
.icon-user:before { content: '\e81f'; } /* '' */
.icon-vimeo:before { content: '\e820'; } /* '' */
.icon-vkontakte:before { content: '\e821'; } /* '' */
.icon-watch:before { content: '\e822'; } /* '' */
.icon-zoom:before { content: '\e823'; } /* '' */
.icon-arrow-down:before { content: '\e824'; } /* '' */
.icon-arrow-left:before { content: '\e825'; } /* '' */
.icon-arrow-right:before { content: '\e826'; } /* '' */
.icon-arrow-to-down:before { content: '\e827'; } /* '' */
.icon-arrow-to-left:before { content: '\e828'; } /* '' */
.icon-arrow-to-right:before { content: '\e829'; } /* '' */
.icon-arrow-to-up:before { content: '\e82a'; } /* '' */
.icon-arrow-up:before { content: '\e82b'; } /* '' */
.icon-basket:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-check:before { content: '\e82e'; } /* '' */
.icon-comment-chat:before { content: '\e82f'; } /* '' */
.icon-comment:before { content: '\e830'; } /* '' */
.icon-delete:before { content: '\e831'; } /* '' */
.icon-clock:before { content: '\e832'; } /* '' */
.icon-plus:before { content: '\e833'; } /* '' */